body{
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  margin: 50px;
  color: red;
}

Book{
  margin: 200px;
}

.sometext{
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  background: #000000;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 20px;
}

.footer{
  background-color: #000000;
  border-top: 4px solid #00ff00;
  height: 200px;
  position: relative;
  z-index: 4;
}

.footer p{
  text-align: center;
  color: #555;
  font-family: arial;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  z-index: 4;
}